In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    "name": ["Shruti", "Abhishek", "Aditi", "Harsh"],
    "marks": [10, 7, 6, 1],
    "city": ['jabalpur', 'bhopal', 'mandla', 'kolkata']
}

In [3]:
df = pd.DataFrame(dict1)                                        #creates a dataframe. like a table
print(df)

       name  marks      city
0    Shruti     10  jabalpur
1  Abhishek      7    bhopal
2     Aditi      6    mandla
3     Harsh      1   kolkata

In [4]:
df.to_csv('friends.csv')                                        #creates csv file in the folder

In [5]:
df.to_csv('friends.csv', index=False)                           #excludes the indexing

In [6]:
print(df.head(2))                                               #returns upper two rows

       name  marks      city
0    Shruti     10  jabalpur
1  Abhishek      7    bhopal

In [7]:
print(df.tail(2))                                               #returns lower two rows

    name  marks     city
2  Aditi      6   mandla
3  Harsh      1  kolkata

In [8]:
print(df.describe())                                            #mathematical description of numerical columns in the data

           marks
count   4.000000
mean    6.000000
std     3.741657
min     1.000000
25%     4.750000
50%     6.500000
75%     7.750000
max    10.000000

In [10]:
shr = pd.read_csv('shruti.csv')                                 #to read a csv file in the folder
print(shr)

   Train No  Speed        City
0     12322     34      Rampur
1     12534    123     kolkata
2    125654     67   barreilly
3    564523     87  antarctica

In [11]:
shr['Speed'][0] = 50                                            #to change the value in the df
print(shr)                                                      
shr.to_csv('shruti.csv')                                        #to update the csv file in the folder

   Train No  Speed        City
0     12322     50      Rampur
1     12534    123     kolkata
2    125654     67   barreilly
3    564523     87  antarctica

/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/896148891.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  shr['Speed'][0] = 50                                            #to change the value in the df
/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/896148891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shr['Speed'][0] = 50                                            #to change the value in the df

In [12]:
shr.index = ['1st', '2nd', '3rd', '4th']                        #it is not necessary that indexes are numbers. they can be anything
print(shr)

     Train No  Speed        City
1st     12322     50      Rampur
2nd     12534    123     kolkata
3rd    125654     67   barreilly
4th    564523     87  antarctica

In [13]:
ser = pd.Series(np.random.rand(34))                             #row/column of DF. uniform datatype. indexed.
print(ser)

0     0.549810
1     0.872608
2     0.030752
3     0.569226
4     0.975886
5     0.518077
6     0.599370
7     0.045699
8     0.861774
9     0.709287
10    0.812678
11    0.466517
12    0.093908
13    0.462112
14    0.892968
15    0.642008
16    0.920407
17    0.957525
18    0.291381
19    0.605865
20    0.816262
21    0.894372
22    0.717011
23    0.305288
24    0.151833
25    0.849207
26    0.772388
27    0.300184
28    0.191702
29    0.156328
30    0.270090
31    0.272965
32    0.277654
33    0.181848
dtype: float64

In [14]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [ ]:
type(newdf)

            0         1         2         3         4
0    0.958180  0.891292  0.973566  0.289455  0.318961
1    0.515417  0.341853  0.240648  0.043792  0.372318
2    0.647490  0.268055  0.384475  0.428747  0.845003
3    0.137483  0.321644  0.994624  0.368574  0.979770
4    0.489166  0.392016  0.400191  0.512641  0.147883
..        ...       ...       ...       ...       ...
329  0.867812  0.107837  0.107332  0.453864  0.160772
330  0.997352  0.161145  0.512226  0.091858  0.883060
331  0.615826  0.368959  0.790596  0.037602  0.688155
332  0.097611  0.293809  0.092287  0.596351  0.983746
333  0.011536  0.329597  0.538879  0.498037  0.936064

[334 rows x 5 columns]