In [4]:
import pandas as pd
import numpy as np

In [2]:
dict1 = {
    "name": ["Shruti", "Abhishek", "Aditi", "Harsh"],
    "marks": [10, 7, 6, 1],
    "city": ['jabalpur', 'bhopal', 'mandla', 'kolkata']
}

In [3]:
df = pd.DataFrame(dict1)                                        #creates a dataframe. like a table
print(df)

       name  marks      city
0    Shruti     10  jabalpur
1  Abhishek      7    bhopal
2     Aditi      6    mandla
3     Harsh      1   kolkata

In [4]:
df.to_csv('friends.csv')                                        #creates csv file in the folder

In [5]:
df.to_csv('friends.csv', index=False)                           #excludes the indexing

In [6]:
print(df.head(2))                                               #returns upper two rows

       name  marks      city
0    Shruti     10  jabalpur
1  Abhishek      7    bhopal

In [7]:
print(df.tail(2))                                               #returns lower two rows

    name  marks     city
2  Aditi      6   mandla
3  Harsh      1  kolkata

In [8]:
print(df.describe())                                            #mathematical description of numerical columns in the data

           marks
count   4.000000
mean    6.000000
std     3.741657
min     1.000000
25%     4.750000
50%     6.500000
75%     7.750000
max    10.000000

In [10]:
shr = pd.read_csv('shruti.csv')                                 #to read a csv file in the folder
print(shr)

   Train No  Speed        City
0     12322     34      Rampur
1     12534    123     kolkata
2    125654     67   barreilly
3    564523     87  antarctica

In [11]:
shr['Speed'][0] = 50                                            #to change the value in the df
print(shr)                                                      
shr.to_csv('shruti.csv')                                        #to update the csv file in the folder

   Train No  Speed        City
0     12322     50      Rampur
1     12534    123     kolkata
2    125654     67   barreilly
3    564523     87  antarctica

/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/896148891.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  shr['Speed'][0] = 50                                            #to change the value in the df
/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/896148891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shr['Speed'][0] = 50                                            #to change the value in the df

In [12]:
shr.index = ['1st', '2nd', '3rd', '4th']                        #it is not necessary that indexes are numbers. they can be anything
print(shr)

     Train No  Speed        City
1st     12322     50      Rampur
2nd     12534    123     kolkata
3rd    125654     67   barreilly
4th    564523     87  antarctica

In [13]:
ser = pd.Series(np.random.rand(34))                             #row/column of DF. uniform datatype. indexed.
print(ser)

0     0.549810
1     0.872608
2     0.030752
3     0.569226
4     0.975886
5     0.518077
6     0.599370
7     0.045699
8     0.861774
9     0.709287
10    0.812678
11    0.466517
12    0.093908
13    0.462112
14    0.892968
15    0.642008
16    0.920407
17    0.957525
18    0.291381
19    0.605865
20    0.816262
21    0.894372
22    0.717011
23    0.305288
24    0.151833
25    0.849207
26    0.772388
27    0.300184
28    0.191702
29    0.156328
30    0.270090
31    0.272965
32    0.277654
33    0.181848
dtype: float64

In [14]:
newdf = pd.DataFrame(np.random.rand(334,5), index=np.arange(334))

In [16]:
type(newdf)

pandas.core.frame.DataFrame

In [17]:
newdf.describe()

                0           1           2           3           4
count  334.000000  334.000000  334.000000  334.000000  334.000000
mean     0.497203    0.488127    0.497412    0.480521    0.523209
std      0.302029    0.284380    0.288939    0.285475    0.290839
min      0.000757    0.000048    0.000699    0.000432    0.004124
25%      0.237034    0.227914    0.234532    0.241322    0.259847
50%      0.490359    0.494485    0.510731    0.491789    0.560191
75%      0.769283    0.717551    0.733468    0.710599    0.765737
max      0.997352    0.999348    0.999003    0.998224    0.997404

In [19]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [20]:
newdf[0][0] = 'Shruti'

/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/1871164521.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  newdf[0][0] = 'Shruti'
/var/folders/g9/f0h_fpvn0x9gjfm1wcq6j3yh0000gn/T/ipykernel_77720/1871164521.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Shruti' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  newdf[0][0] = 'Shruti'

In [21]:
newdf.head()

          0         1         2         3         4
0    Shruti  0.891292  0.973566  0.289455  0.318961
1  0.515417  0.341853  0.240648  0.043792  0.372318
2   0.64749  0.268055  0.384475  0.428747  0.845003
3  0.137483  0.321644  0.994624  0.368574  0.979770
4  0.489166  0.392016  0.400191  0.512641  0.147883

In [22]:
newdf.dtypes

0     object
1    float64
2    float64
3    float64
4    float64
dtype: object

In [23]:
newdf.index

Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)

In [24]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [25]:
newdf[0][0] = 0.34332

In [26]:
newdf.to_numpy()

array([[0.34332, 0.8912916958939532, 0.9735658007902901,
        0.28945490820248, 0.3189613010569282],
       [0.5154166633002292, 0.3418529634731794, 0.24064829978138957,
        0.0437918959353637, 0.37231807488888957],
       [0.6474897677574195, 0.26805480223126366, 0.38447501742649226,
        0.428747056415018, 0.8450031421507672],
       ...,
       [0.615826499402229, 0.3689589656612805, 0.7905961305271583,
        0.03760177733049275, 0.6881547617548512],
       [0.09761124889699235, 0.29380866644247183, 0.09228722339397177,
        0.5963514262656519, 0.9837464573786628],
       [0.01153587151604496, 0.32959729618036615, 0.5388788071061942,
        0.4980369530920681, 0.9360639478909151]],
      shape=(334, 5), dtype=object)

In [27]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.34332,0.515417,0.64749,0.137483,0.489166,0.951306,0.923821,0.317267,0.597359,0.333764,...,0.335497,0.465214,0.004238,0.37864,0.972386,0.867812,0.997352,0.615826,0.097611,0.011536
1,0.891292,0.341853,0.268055,0.321644,0.392016,0.070681,0.216575,0.4508,0.18872,0.755302,...,0.523048,0.334031,0.699173,0.264952,0.631372,0.107837,0.161145,0.368959,0.293809,0.329597
2,0.973566,0.240648,0.384475,0.994624,0.400191,0.593969,0.414866,0.882732,0.57338,0.934131,...,0.056513,0.055613,0.08891,0.972023,0.246558,0.107332,0.512226,0.790596,0.092287,0.538879
3,0.289455,0.043792,0.428747,0.368574,0.512641,0.069965,0.449599,0.14448,0.358558,0.746668,...,0.432426,0.596229,0.54832,0.695981,0.459191,0.453864,0.091858,0.037602,0.596351,0.498037
4,0.318961,0.372318,0.845003,0.97977,0.147883,0.075289,0.889868,0.160211,0.016138,0.496649,...,0.989642,0.562523,0.908819,0.341872,0.896238,0.160772,0.88306,0.688155,0.983746,0.936064

In [29]:
newdf.head()

          0         1         2         3         4
0   0.34332  0.891292  0.973566  0.289455  0.318961
1  0.515417  0.341853  0.240648  0.043792  0.372318
2   0.64749  0.268055  0.384475  0.428747  0.845003
3  0.137483  0.321644  0.994624  0.368574  0.979770
4  0.489166  0.392016  0.400191  0.512641  0.147883

In [30]:
newdf.sort_index(axis=1, ascending=False)

            4         3         2         1         0
0    0.318961  0.289455  0.973566  0.891292   0.34332
1    0.372318  0.043792  0.240648  0.341853  0.515417
2    0.845003  0.428747  0.384475  0.268055   0.64749
3    0.979770  0.368574  0.994624  0.321644  0.137483
4    0.147883  0.512641  0.400191  0.392016  0.489166
..        ...       ...       ...       ...       ...
329  0.160772  0.453864  0.107332  0.107837  0.867812
330  0.883060  0.091858  0.512226  0.161145  0.997352
331  0.688155  0.037602  0.790596  0.368959  0.615826
332  0.983746  0.596351  0.092287  0.293809  0.097611
333  0.936064  0.498037  0.538879  0.329597  0.011536

[334 rows x 5 columns]

In [34]:
newdf.loc[0,0] = 45842  #proper way of changing values in a dataframe

In [35]:
newdf.head()

          0         1         2         3         4
0     45842  0.891292  0.973566  0.289455  0.318961
1  0.515417  0.341853  0.240648  0.043792  0.372318
2   0.64749  0.268055  0.384475  0.428747  0.845003
3  0.137483  0.321644  0.994624  0.368574  0.979770
4  0.489166  0.392016  0.400191  0.512641  0.147883

In [36]:
newdf.loc[[2,4], [2,3]]

          2         3
2  0.384475  0.428747
4  0.400191  0.512641

In [37]:
newdf.loc[:, [2,3]]

            2         3
0    0.973566  0.289455
1    0.240648  0.043792
2    0.384475  0.428747
3    0.994624  0.368574
4    0.400191  0.512641
..        ...       ...
329  0.107332  0.453864
330  0.512226  0.091858
331  0.790596  0.037602
332  0.092287  0.596351
333  0.538879  0.498037

[334 rows x 2 columns]

In [38]:
newdf.loc[[2,4], :]

          0         1         2         3         4
2   0.64749  0.268055  0.384475  0.428747  0.845003
4  0.489166  0.392016  0.400191  0.512641  0.147883

In [40]:
newdf.loc[(newdf[0]<0.3)]     #returns rows where condition is true

            0         1         2         3         4
3    0.137483  0.321644  0.994624  0.368574  0.979770
10   0.126518  0.416458  0.063460  0.217656  0.515678
11   0.047872  0.046741  0.093479  0.557406  0.320978
12   0.177465  0.901549  0.241848  0.314082  0.538196
15   0.153093  0.098756  0.984812  0.047836  0.404126
..        ...       ...       ...       ...       ...
321  0.055029  0.356965  0.557299  0.115032  0.053987
323  0.234647  0.023009  0.701408  0.960196  0.831155
326  0.004238  0.699173  0.088910  0.548320  0.908819
332  0.097611  0.293809  0.092287  0.596351  0.983746
333  0.011536  0.329597  0.538879  0.498037  0.936064

[101 rows x 5 columns]

In [41]:
newdf.head()

          0         1         2         3         4
0     45842  0.891292  0.973566  0.289455  0.318961
1  0.515417  0.341853  0.240648  0.043792  0.372318
2   0.64749  0.268055  0.384475  0.428747  0.845003
3  0.137483  0.321644  0.994624  0.368574  0.979770
4  0.489166  0.392016  0.400191  0.512641  0.147883

In [42]:
newdf.iloc[1,3]

np.float64(0.0437918959353637)

In [11]:
newdf.drop([1], axis=1)     #doesnt change the original df. returns a copy

NameError: name 'newdf' is not defined

In [48]:
newdf.drop([4, 7], inplace=True)     #drops in the original dataframe

In [5]:
mydf = pd.DataFrame(np.random.rand(100,5), index=np.arange(100))

In [6]:
mydf

           0         1         2         3         4
0   0.745166  0.480143  0.679695  0.294581  0.178031
1   0.977292  0.384741  0.135173  0.024576  0.945950
2   0.252155  0.974645  0.542432  0.243143  0.782232
3   0.004608  0.597753  0.016844  0.854841  0.076963
4   0.597327  0.548036  0.259321  0.478961  0.691604
..       ...       ...       ...       ...       ...
95  0.214189  0.919655  0.670249  0.507471  0.949358
96  0.529320  0.136368  0.118343  0.779710  0.044562
97  0.249860  0.130264  0.944391  0.143153  0.402532
98  0.677192  0.446581  0.830792  0.556944  0.467456
99  0.671285  0.653849  0.308010  0.090084  0.897224

[100 rows x 5 columns]

In [7]:
mydf.drop([1,5], axis=0, inplace=True)

In [8]:
mydf.head(7)

          0         1         2         3         4
0  0.745166  0.480143  0.679695  0.294581  0.178031
2  0.252155  0.974645  0.542432  0.243143  0.782232
3  0.004608  0.597753  0.016844  0.854841  0.076963
4  0.597327  0.548036  0.259321  0.478961  0.691604
6  0.831897  0.448356  0.932937  0.559783  0.719241
7  0.979719  0.553045  0.291977  0.800865  0.383298
8  0.373171  0.592176  0.314632  0.190523  0.773398

In [9]:
mydf.reset_index(drop=True, inplace=True)

In [10]:
mydf.head(7)

          0         1         2         3         4
0  0.745166  0.480143  0.679695  0.294581  0.178031
1  0.252155  0.974645  0.542432  0.243143  0.782232
2  0.004608  0.597753  0.016844  0.854841  0.076963
3  0.597327  0.548036  0.259321  0.478961  0.691604
4  0.831897  0.448356  0.932937  0.559783  0.719241
5  0.979719  0.553045  0.291977  0.800865  0.383298
6  0.373171  0.592176  0.314632  0.190523  0.773398

In [13]:
df = pd.DataFrame(np.random.randint(3, 2))
df

ValueError: low >= high

In [15]:
mydf2 = pd.DataFrame(np.random.randint(0, 20, size=(3,2)))

In [16]:
mydf2

    0   1
0   0  17
1   7  14
2  13  17

In [17]:
mydf2.describe()

               0          1
count   3.000000   3.000000
mean    6.666667  16.000000
std     6.506407   1.732051
min     0.000000  14.000000
25%     3.500000  15.500000
50%     7.000000  17.000000
75%    10.000000  17.000000
max    13.000000  17.000000

In [18]:
mydf2.mean()

0     6.666667
1    16.000000
dtype: float64

In [19]:
mydf2.corr()

          0         1
0  1.000000 -0.044368
1 -0.044368  1.000000

In [20]:
mydf2.count()

0    3
1    3
dtype: int64

In [21]:
mydf2.max()

0    13
1    17
dtype: int64

In [22]:
mydf2.min()

0     0
1    14
dtype: int64

In [23]:
mydf2.median()

0     7.0
1    17.0
dtype: float64

In [24]:
mydf2.std()

0    6.506407
1    1.732051
dtype: float64